{% assign current = page.url | downcase | split: '/' %}
<header>
    <div class="nav_container">
        <a href="/">
            <div class="logo"></div>
            <h1>Ross Thomson <span class="hide">- {% if current[1] == null %}Website Developer in Aberdeen, Scotland{% elsif current[1]=="blog" %}{{ page.title }}{% else %}{{ current[1]|capitalize }}{% endif %}</span></h1>
        </a>
        <div class="mobile_nav">
            <input id="burger" type="checkbox"/>
            <label for="burger" class="burger">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <nav>
                <a href="/" class="navigation_link nav_mobile_link {% if current[1] == null %}active{% endif %}">Home</a>
                <a href="/about" class="navigation_link {% if current[1] == 'about' %}active{% endif %}">About</a>
                <a href="/work" class="navigation_link {% if current[1] == 'work' %}active{% endif %}">Work</a>
                <a href="/blog" class="navigation_link {% if current[1] == 'blog' %}active{% endif %}">Blog</a>
                <a href="/contact" class="navigation_link {% if current[1] == 'contact' %}active{% endif %}">Contact</a>
            </nav>
        </div>
        <nav>
            <a href="/about" class="navigation_link {% if current[1] == 'about' %}active{% endif %}">About</a>
            <a href="/work" class="navigation_link {% if current[1] == 'work' %}active{% endif %}">Work</a>
            <a href="/blog" class="navigation_link {% if current[1] == 'blog' %}active{% endif %}">Blog</a>
            <a href="/contact" class="navigation_link {% if current[1] == 'contact' %}active{% endif %}">Contact</a>
        </nav>
        <label class="switch" for="dark_mode">Enable/Disable website dark mode
            <input type="checkbox" id="dark_mode" class="mode_button">
            <span class="slider"></span>
        </label>
    </div>
</header>