body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

header {
    padding: 20px 0 50px;
}

header h1 {
    display: inline-block;
    font-size: 1.1em;
    opacity: 0.7;
}

header a {
    text-decoration: none;
    color: #000000;
}

.logo {
    width: 40px;
    height: 40px;
    background: url('../imgs/logos/logo-green.svg');
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    position: relative;
    top: -2px;
}

.container {
    max-width: 850px;
    padding: 0 2rem;
    margin-left: auto;
    margin-right: auto;
}

.nav_container {
    max-width: 855px;
    padding: 20px 2rem 0;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
    transition: padding-top 0.5s;
}

.intro {
    position: relative;
}

.photo {
    text-align: right;
}

.photo img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: contain;
}

.w-80 {
    width: 80%;
}

.w-75 {
    width: 75%;
}

.w-70 {
    width: 70%;
}

.w-50 {
    width: 50%;
}

.w-30 {
    width: 30%;
}

.flex {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    align-items: center;
}

.border-b {
    border-bottom: 2px solid #ebebeb;
    padding-bottom: 10px;
}

.social_header_container {
    position: absolute;
    top: 20px;
    right: 20px;
    -webkit-animation: fadeIn 1s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation: fadeIn 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hide {
    display: none;
}

nav {
    display: inline-block;
    width: calc(100% - 185px);
    text-align: right;
}

.navigation_link {
    padding: 10px;
    text-decoration: none;
    font-size: 1rem;
    display: inline-block;
    font-weight: 600;
    opacity: 0.7;
}

.navigation_link:hover {
    text-decoration: underline;
    opacity: 1;
}

.navigation_link.active {
    text-decoration: underline;
    opacity: 1;
}

.navigation_link:last-child {
    padding-right: 0;
}

.fixed_nav {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: calc(100% - 4rem);
    z-index: 2;
    padding-top: 5px;
    transition: padding-top 0.5s;
}

.copy {
    margin-bottom: 4rem;
}

.copy .font-lg, .font-lg {
    font-size: 2rem;
    font-weight: 600;
}

.copy h2 {
    font-size: 1.8rem;
    font-weight: 600;
}

.copy h3 {
    font-size: 1.6rem;
    font-weight: 600;
}

.copy p {
    font-size: 1rem;
    margin: 0 0 2rem;
    line-height: 25px;
}

.copy p:last-of-type {
    margin: 0 0 20px;
}

.copy strong {
   font-weight: 600;
}

.copy ul {
    margin-bottom: 2rem;
}

.blog_card {
    display: flex;
    align-items: center;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    border-radius: 4px;
    box-shadow: 1px 2px 10px rgba(0,0,0,.1);
    color: #404040;
    font-weight: 500;
    border: none!important;
    padding: 1.5rem;
    margin: 1.5rem 0;
    font-size: 1.5rem;
    text-decoration: none;
}

.blog_card:hover {
    color: #111;
    background: #fff;
    box-shadow: 3px 5px 20px rgba(0,0,0,.16);
}

.blog_card img {
    display: inline-block;
    width: 50px;
    margin-right: 20px;
}

.blog_card h5 {
    margin: 20px 0;
    display: inline-block;
}

.work_card {
    justify-content: space-between;
}

.work_card img {
    vertical-align: middle;
}

ul strong {
    font-weight: 600;
}

.icon_list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.icon_list img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    display: inline-block;
    margin-right: 20px;
}

.icon_list div {
    display: inline-block;
}

.icon_list li {
    margin-bottom: 40px;
}

.icon_list li strong {
    padding-bottom: 5px;
    display: block;
}

.margin-b {
    margin-bottom: 30px;
}

.margin_fix {
    margin-top: 85px;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

form {
    width: 42%;
    min-width: 300px;
}

[type=color], [type=date], [type=email], [type=number], [type=search], [type=text], [type=url], select, textarea {
    display: block;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: .75rem;
    margin-bottom: .5rem;
    font-size: 1.1rem;
    width: 100%;
    max-width: 100%;
    line-height: 1;
}

textarea {
    height: 120px;
}

[type=submit] {
    -webkit-appearance: none;
    display: inline-block;
    border: 2px solid #5183f5;
    border-radius: 4px;
    background: #5183f5;
    color: #fff;
    font-size: 1.1rem;
    text-transform: none;
    padding: .6rem .9rem;
    margin: 0 0 .5rem;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    line-height: 1;
}

[type=submit]:hover {
    background: #0e51db;
    border: 2px solid #0e51db;
}

footer {
    text-align: center;
    padding-bottom: 30px;
}

footer .info {
    font-size: 12px;
    color: #ababab;
    margin-bottom: 5px;
}

.git_hub_pages img {
    width: 18px;
    height: 18px;
    opacity: 0.3;
    vertical-align: middle;
    margin-left: 2px;
    position: relative;
    top: -1px;
}

.linkedin {
    background: url('../imgs/logos/linkedin.svg');
    width: 25px;
    height: 25px;
    background-size: cover;
    display: inline-block;
    margin: 10px 5px;
    opacity: 0.4;
    transition: opacity 0.5s;
}

.linkedin:hover {
    opacity: 1;
    transition: opacity 0.5s;
}

.email {
    background: url('../imgs/logos/mail.svg');
    width: 26px;
    height: 25px;
    background-size: cover;
    display: inline-block;
    margin: 10px 5px;
    opacity: 0.4;
    transition: opacity 0.5s;
}

.email:hover {
    opacity: 1;
    transition: opacity 0.5s;
}

section {
    opacity: 0;
    transform: translate(0, 20px);
    transition: all 1s;
}

section.visible {
    opacity: 1;
    transform: translate(0, 0);
}

.section_container {
    width: 90%;
    padding: 40px 0;
    max-width: 91.875rem;
    margin: 0 auto;
    min-height: 50vh;
}

.info_list {
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
    min-width: 140px;
}

.info_list p {
    font-size: 0.8rem;
    margin-bottom: 0 !important;
    line-height: 1.5;
}

.mobile_nav {
    display: none;
    opacity: 0;
    transition: opacity 0.2s;
}

.mobile_nav #burger {
    display: none;
}

.mobile_nav input + label {
    position: fixed;
    top: 52px;
    right: 2rem;
    height: 22px;
    width: 28px;
    z-index: 5;
}

.mobile_nav input + label span {
    position: absolute;
    width: 100%;
    height: 3px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: #000000;
    opacity: 0.7;
    transition: 0.5s;
}

.mobile_nav input + label span:first-child {
    top: 3px;
}

.mobile_nav input + label span:last-child {
    top: 19px;
}

.mobile_nav label:hover {
    cursor: pointer;
}

.mobile_nav input:checked + label span {
    opacity: 0;
    top: 50%;
}

.mobile_nav input:checked + label span:first-child {
    opacity: 1;
    transform: rotate(135deg);
}

.mobile_nav input:checked + label span:last-child {
    opacity: 1;
    transform: rotate(-135deg);
}

.mobile_nav input:checked ~ nav {
    height: 126px;
    opacity: 1;
    transition: height,opacity 0.2s;
    background: #a5a5a5;
    z-index: 2;
    pointer-events: auto;
}

.burger_fix {
    top: 16px !important;
    transition: top 0.5s;
}

.mobile_nav_fix {
    top: 58px;
    transition: top 0.5s;
}

.contact_form {
    margin-bottom: 30px;
}

article {
    margin-bottom: 80px;
}

article h2 {
    margin-bottom: 0px;
}

article date {
    font-size: 0.9rem;
    opacity: 0.5;
    margin-bottom: 30px;
    display: block;
}

.read-more {
    font-size: 0.7rem;
    margin-left: auto;
    text-decoration: underline;
}

.click-to-view {
    font-size: 0.7rem;
    margin-left: 5px;
    text-decoration: underline;
    vertical-align: middle;
}

@media screen and (max-width: 767px) {
    .copy.w-70, .photo.w-30{
        width: 100%;
    }

    .copy .w-70 {
        width: 100%;
    }

    .mobile_nav {
        display: block;
        opacity: 1;
        transition: opacity 0.2s;
    }

    nav {
        position: fixed;
        width: 100%;
        left: 0;
        text-align: center;
        top: 58px;
        background: #ffffff;
        height: 0px;
        opacity: 0;
        transition: height,opacity,top 0.2s;
        padding: 20px 0;
        pointer-events: none;
    }

    .margin_fix {
        margin: 0;
    }
    .nav_container {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 2;
        padding-top: 5px;
        padding-bottom: 5px;
        transition: padding-top 0.5s;
        margin: 0;
    }

    .mobile_nav input + label {
        top: 16px;
    }

    .mobile_nav input + label {
        right: 1.5rem;
    }

    .navigation_link {
        display: block;
        color: #fff;
    }

    .intro .copy {
        margin-bottom: 2rem;
    }

    .photo {
        text-align: center;
        margin-bottom: 50px;
        margin-top: 40px;
    }

    .intro.flex {
        display: block;
    }
}

@media screen and (max-width: 580px) {

    .container {
        padding: 0 1.5rem;
    }

    .nav_container {
        padding: 5px 1.5rem;
    }

    .blog_card {
        position: relative;
        display: block;
    }

    .work_card img {
        position: absolute;
        right: 10px;
        bottom: 30px;
    }

    .work_card h5 {
        margin: 0 0 15px;
    }

    .blog_card, .work_card {
        padding:  1rem;
    }
}

@media screen and (max-width: 425px) {
    .click-to-view {
        font-size: 0.7rem;
        margin-left: 0;
        display: block;
        width: 100%;
        margin-bottom: 15px;
    }

    .work_card h5 {
        margin: 0;
    }
}

/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: #fff;
        color: #000;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: #fff;
    }

    .nav_container {
        background-color: black;
        color: #fff;
    }

    header a {
        color: #fff;
    }

    .blog_card {
        box-shadow: 1px 2px 10px rgba(255,255,255, .4);
        color: #fff;
    }

    .blog_card:hover {
        background: #505050;
        color: #fff;
    }

    .blog_card img {
        background: white;
        height: 50px;
    }

    .icon_list img {
        background: #fff;
    }

    [type=color], [type=date], [type=email], [type=number], [type=search], [type=text], [type=url], select, textarea {
        background: #505050;
    }

    .linkedin {
        background: url('/assets/imgs/logos/linkedin-white.svg');
        background-size: cover;
    }

    .email {
        background: url('/assets/imgs/logos/mail-white.svg');
        background-size: cover;
    }
}