---
layout: default
---
<div class="work">
    <div class="margin-b">
        <h2>Latest from the Blog.</h2>
        <p>Stay up to date with all my latest findings, tutorials and news right here in my very own blog.</p>
        <br>
    </div>

    {% for post in site.posts %}
        {% if post.categories contains "blog" %}
            <a href="{{ post.url }}" class="blog_card" data-aos="fade-up" data-aos-delay="300">
                <h3>{{ post.title }} <br><span class="blog_date">{{ post.date | date_to_string }}</span></h3>
                <div class="read-more">Read More</div>
            </a>
        {% endif %}
    {% endfor %}

</div>