---
layout: default
---
<div class="work">
    <div class="margin-b">
        <h2>Latest work.</h2>
        <p>Take a look at some of the latest website projects I've been working on. I work on all manner of full stack projects providing both front and back end implementation - from start to finish 🚀:</p>
        <br>
    </div>

    {% for post in site.posts %}
        {% if post.categories contains "website" %}
            <a href="{{ post.websiteUrl }}" class="blog_card work_card" target="_blank" rel="noopener" data-aos="fade-up" data-aos-delay="300">
                <div>
                    <img src="{{ post.iconUrl }}" alt="{{ post.title }}" {% if post.customClass %}class="{{ post.customClass }}"{% endif %}>
                    <h3>{{ post.title }}</h3><span class="click-to-view">(click to view)</span>
                </div>
                <div>
                    <div class="info_list">
                        {{ post.content }}
                    </div>
                </div>
            </a>
        {% endif %}
    {% endfor %}

    <div class="logo-container">
        <h2>Past Clients.</h2>

        <div class="logos margin-b">
            <div class="logo-wrapper">
                <img src="/assets/imgs/logos/fifa-logo.svg" alt="fifa logo">
            </div>
            <div class="logo-wrapper">
                <img src="/assets/imgs/logos/maersk-logo-mask.svg" alt="maersk logo">
            </div>
            <div class="logo-wrapper">
                <img src="/assets/imgs/logos/robert-gordon-university-logo-mask.svg" alt="robert gordon university logo">
            </div>
            <div class="logo-wrapper">
                <img src="/assets/imgs/logos/university-of-aberdeen-mask.svg" alt="university of aberdeen logo">
            </div>
            <div class="logo-wrapper">
                <img src="/assets/imgs/logos/opito-logo.svg" alt="opito logo">
            </div>
            <div class="logo-wrapper">
                <img src="/assets/imgs/logos/pga-european-tour.svg" alt="pga european tour logo">
            </div>
            <div class="logo-wrapper">
                <img src="/assets/imgs/logos/aberdeen-city-council.svg" alt="aberdeen city council logo">
            </div>
            <div class="logo-wrapper">
                <img src="/assets/imgs/logos/edinburgh-zoo-logo.svg" alt="edinburgh zoo logo">
            </div>
        </div>
    </div>


</div>
