---
layout: default
---
<div class="work">
    <h2>Latest work.</h2>

    {% for post in site.posts %}
        {% if post.categories contains "website" %}
            <a href="{{ post.websiteUrl }}" class="blog_card work_card" target="_blank" rel="noopener" data-aos="fade-up" data-aos-delay="300">
                <div>
                    <img src="{{ post.iconUrl }}" alt="{{ post.title }}" {% if post.customClass %}class="{{ post.customClass }}"{% endif %}>
                    <h3>{{ post.title }}</h3><span class="click-to-view">(click to view)</span>
                </div>
                <div>
                    <div class="info_list">
                        {{ post.content }}
                    </div>
                </div>
            </a>
        {% endif %}
    {% endfor %}

</div>